<div class="container">
  <% @orders.each do |order| %>
  <div class="item">
    <p>Name: <%= order.pretty_name %></p>
    <p>Order: <%= order.quantity %> x <%= order.topping %></p>
    <div class="item--links">

      <p><a href='/pizza-orders/<%= order.id %>'>Show Order</a></p>
      <p><a href="/pizza-orders/<%= order.id %>/edit">Edit Order</a></p>
      <form class="delete" method="post" action="/pizza-orders/<%= order.id %>/delete">
        <input type="submit" value="Delete Order"/>
      </form>
    </div>
  </div>
  <% end %>
</div>
